header {  
  color: #222;
  font-family: 'Abril Fatface', cursive;
  font-weight: 24px;
  width: 1300px;
  height: 400px;
  margin: auto;
  border-top: 5px solid black;
}
#header-picture {
  width: 100%;
  margin: auto;
}
.header-text {
  color: #222;
  font-family: 'Abril Fatface', cursive;
  position: absolute;
  top: 250px;
  bottom: 0px;
  left: 350px;
}
#MyName {
  font-size: 32px;
  margin: 0px;  
}
#Anakin {
  font-size: 64px;
  margin: 0px;
}

main {
  max-width: 700px;
  margin: 0px;
  padding: 50px 350px;
  line-height: 25px;
  font-family: 'Josefin Sans', sans-serif;
  color: #222;
}

blockquote::before {
  content: '”';
}

blockquote{
  background: #222;
  font-family: 'Abril Fatface', cursive;
  font-position: absolute;
  font-size: 35px;
  color: white;
  width: 100%;
  height: 100px;
  margin: 0 -20px 0;
  padding: 45px 20px 40px 45px;
}

h1 {
  color: #222;
  text-transform: uppercase;
  margin: 50px 0px;
}

h2 {
  color: #222;
  margin: 35px 0;  
}

h3 {
  color: #222;
  font-family: 'Merriweather', serif;
  font-size: 15px;
  font-style: italic;
}

hr {
  border: 2px solid black;
    
}