header {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 10px;
  background: black;
  font-family: 'Patrick Hand', cursive;
  text-align: center;  
}
a {
  color: white;
  text-decoration: none;
  font-size: 40px;
  margin: 20px;
}

main {
  max-width: 1300px;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0px 0px;
  line-height: 25px;
  font-family: 'Source Code Pro', monospace;
  color: #008B8B;
}

.container {  
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  text-align: left;
  color: #000000;
  font-family: 'Source Code Pro', monospace;
  margin-top: 0px;
 
}
#header-picture {
  width: 50%;
  margin: 0;
  margin-left: -93px;
}
.header-text {
  position: absolute;
  top: 130px;
  bottom: 0px;
  left: 150px;
}
#MyName {
  font-size: 22px;
  margin: 0px;  
}
#Anakin {
  font-size: 32px;
  margin: 0px;
  margin-top: 20px;
}

.Bevezeto {
  margin-left: 20px;
  margin-top: 20px;
  width: 80%;

}

blockquote::before {
  content: "“";
  }

blockquote {
  background: #008B8B;
  font-family: 'Source Code Pro', monospace;
  font-position: left;
  font-size: 70px;
  line-height: 100px;
  color: white;
  width: 50%;
  height: 50%;
  margin: 0;
  padding: 30px;
}

.szoveg {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 75%;
  height: auto;
  padding-left: 10px;
  margin: 10px 0px;
  
}
h1 {
  font-family: 'Patrick Hand', cursive;
  color: #008B8B;
  font-size: 55px;
  text-transform: uppercase;
  margin-top: 20px;
}

h2 {
  color: #000;
  margin-top: 10px;  
}

h3 {
  color: #000;
  font-family: 'Sacramento', cursive;
  font-size: 35px;
  line-height: 35px;
  margin-top: 10px;
}
.felsorolas {
  margin: -20px 0px 10px -40px;
  list-style-type: none;
}